.btn {
  min-height: 51px;
  min-width: 160px;
  background-color: #331b3b;
  color: #ffffff;
  border-radius: 8px;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  cursor: pointer;
}

.btn:active {
  opacity: 0.7;
}

.HomeBtn {
  margin-top: 53px !important;
}

.Count-Btn {
  margin-top: 32px !important;
}
