.meetUpContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d5d1a9;
  padding: 10px 50px;
  margin-top: 50px;
  border-radius: 20px;
  z-index: 555;
  position: relative;
  flex-wrap: wrap;
  .meetupContent {
    max-width: 60%;
    flex: 0 0 60%;
    @media (max-width: 1020px) {
      max-width: 100%;
      flex: 0 0 100%;
    }
  }
  .UserCardCon {
    max-width: 40%;
    flex: 0 0 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 1020px) {
      max-width: 100%;
      flex: 0 0 100%;
    }
    .buildingImg {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
}
